html,
body {
	padding: 0;
	margin: 0;
	font-family: "Work Sans", sans-serif;
	background-color: #0d1117;
	color: white;
}

a {
	color: #1da1f2;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

iframe {
	border: none;
}
